header {
    width: 100%;
    height: 70px;
    background-color: antiquewhite;
}

.position-box-1{
    width: 400px;
    height: 400px;
    background-color: aqua;
    position: absolute;
    
}
.position-box-2{
    width: 300px;
    height:300px;
    background-color: goldenrod;
    position: absolute;
    z-index: 5;
}
.position-box-3{
    width: 200px;
    height: 200px;
    background-color: darkolivegreen;
    position: absolute;
    right:  50px;
    bottom: 0px;
    top: 100px;
    
}

